.header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 128px;
}

.links
{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 16px;
}

a
{
    text-decoration: none;
}