body
{
    display: flex;
    flex-direction: column;
    font-family: Roboto;
    margin: 0;
}

.header-hero-container
{
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    padding: 16px 128px 120px;
    gap: 120px;
}

.header
{
    display: flex;
    justify-content: space-between;
}

.header-logo
{
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 900;
}

.header-links
{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 16px;
}

a
{
    text-decoration: none;
}

a, .hero-secondary-text
{
    color: #E5E7EB;
    font-size: 18px;
}

.hero
{
    display: flex;
    justify-content: space-between;
}

.hero-text
{
    width: 500px;
    height: 280px;
}

.hero-main-text
{
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}

.hero-sign-up-button, .sign-up-container-button
{
    color: #F9FAF8;
    background-color: #3882F6;
    font-size: 18px;
    font-weight: bold;
    padding: 8px 32px;
    border-radius: 8px;
    
}

.hero-sign-up-button
{   
    margin-top: 16px;
    border: none;
}

.hero-image
{
    height: 280px;
    width: 496px;
}

.information-container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 54px;
    padding-bottom: 96px;
    gap: 48px;
    text-align: center;
}

.information-text
{
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
}

.information-teachers
{
    display: flex;
    gap: 48px;
}

.teacher-picture
{
    height: 150px;
    width: 150px;
    border: solid #3882F6;
    border-radius: 16px;
    margin-bottom: 8px;
}

.teacher-text
{   
    width: 160px;
    color: #535353;
    font-size: 18px;
}

.quote-container
{   
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    padding-top: 128px;
    padding-bottom: 112px;
}

.quote-text
{
    width: 785px;
    align-self: center;
    color: #1F2937;
    font-size: 36px;
    font-weight: 300;
}

.quote-author
{   
    text-align: end;
    color: #1F2937;
    font-size: 24px;
    font-weight: bold;
    margin-right: 272px;
}

.sign-up-container
{
    display: flex;
    height: 140px;
    width: 1000px;
    align-self: center;
    justify-content: space-around;
    align-items: center;
    background-color: #3882F6;
    border-radius: 8px;
    margin-top: 96px;
    margin-bottom: 96px;
}

.sign-up-text-main
{
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;

}

.sign-up-text-secondary
{
    color: #F9FAF8;
    font-size: 18px;
}

.sign-up-container-button
{
   border: solid 2px #F9FAF8; 
}

.footer-container
{
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    padding-top: 40px;
    padding-bottom: 40px;
}

.footer-text
{
    color: #F9FAF8;
    font-size: 18px;
}